<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
	<title>User Registration</title>
    <!-- Boxicons CDN Link -->
	<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.27.3/dist/apexcharts.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-1umf/78I40dLZjJaaLm7mOoGxu0ssVWwrY55vJ2VWs+FD1lkt2ZcX09L24j3qzrAKuxH3EXOh8Vv/AJSg10JlQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <style>
	
	.container {
		display: flex;
		flex-direction: column;
			align-items: center;
		}
	
	
	</style>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-4+hT4B4ZvTFlLy8BN8uF+x3ymqMQx3vHNEtjq1c8a1ZMgnh93NxQGKjGXWnCSz7RbKcA65VwOti6m8lI5ju5qA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-fxWhmQ2GrT8TmT0ozBc4i4kn4b/Qm8X0vUTZpyap3q0OtURtWp8AJvKscO/WWBNtRiZDPOW8XvAHJJNkpuxlOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name" style="font-size: xx-large; font-family: 'Times New Roman';">Finance Planner</span>
    </div>
      <ul class="nav-links">
		<li>
			<a href="/">
				<i class='bx bx-home' ></i>
				<span class="links_name">Home</span>
			</a>
		</li>
        <li>
          <a href="{{ url_for('account') }}">
            <i class='bx bx-box' ></i>
            <span class="links_name">Account Details</span>
          </a>
        </li>
		<li>
			<a href="{{ url_for('wallet') }}">
			  <i class='bx bx-wallet' ></i>
			  <span class="links_name">Wallet</span>
			</a>
		  </li>
        <li>
          <a href="{{ url_for('investment') }}">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Investement</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('learning')}}">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Learning</span>
          </a>
        </li>
  </div>
  <section class="home-section">
	{% if message %}
        <script>alert("{{ message }}");</script>
    {% endif %}
	<nav>
		<div class="sidebar-button">
			<i class='bx bx-menu sidebarBtn'></i>
			<span class="dashboard">Menu</span>
		</div>
	</nav>
	<div class="container">
		<h1>Wallet</h1>
    <div class="row">
      <div class="col-md-6">
        <form action="{{ url_for('wallet') }}" method="post">
          <!-- form fields for updating budget -->
          <div class="text-center" style="margin-top: 50px;"><h2>Expenses</h2></div>
          <input type="hidden" name="action" value="update_budget">
          <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category" required>
              <option value="">Select a category</option>
              <option value="FOOD">FOOD</option>
              <option value="BILLS">BILLS</option>
              <option value="SHOPPING">SHOPPING</option>
              <option value="RENT">RENT</option>
              <option value="EDUCATION">EDUCATION</option>
              <option value="ENTERTAINMENT">ENTERTAINMENT</option>
              <option value="HEALTH">HEALTH</option>
              <option value="GIFTS">GIFTS</option>
              <option value="INVESTMENTS">INVESTMENTS</option>
              <option value="TRAVEL">TRAVEL</option>
              <option value="OTHERS">OTHERS</option>
            </select>
          </div>
          <div class="form-group">
            <label for="spentamount">Spent Amount:</label>
            <input type="text" class="form-control" id="spentamount" name="spentamount" placeholder="Enter spent amount" inputmode="numeric" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Please enter a valid number')" onchange="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Select date" min="2023-01-01" max="2025-12-31" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
          </div>
          <button type="submit" class="btn btn-primary">Update Budget</button>
        </form>
      </div>
      <div class="col-md-6">
        <form action="{{ url_for('wallet') }}" method="post">
          <!-- form fields for setting goals -->
          <div class="text-center" style="margin-top: 50px;"><h2>Goals</h2></div>
          <input type="hidden" name="action" value="update_goal">
          <div class="form-group">
            <label for="goal_category">Goal Category:</label>
            <select class="form-control" id="goal_category" name="goal_category" required>
              <option value="">Select a category</option>
              <option value="EDUCATION">EDUCATION</option>
              <option value="INVESTEMENTS">INVESTEMENTS</option>
              <option value="BUSSINESS">BUSSINESS</option>
              <option value="HOUSE">HOUSE</option>
              <option value="DEVELOPMENTS">DEVELOPMENTS</option>
              <option value="OTHER">OTHER</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
          </div>
          <div class="form-group">
            <label for="percentage">Percentage:</label>
            <input type="text" class="form-control" id="percentage" name="percentage" placeholder="Enter percentage amount" inputmode="numeric" pattern="^[0-9]+$|100^$" oninvalid="this.setCustomValidity('Please enter a valid number')" onchange="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Select date" min="2023-01-01" max="2025-12-31" required>
          </div>
          <button type="submit" class="btn btn-primary">Set Goals</button>
        </form>
      </div>
      <div class="col-md-6" style="margin-top: 10px;">
        <form action="{{ url_for('wallet') }}" method="post">
          <!-- form fields for setting goals -->
          <div class="text-center" style="margin-top: 10px;"><h2>Credit card details</h2></div>
          <input type="hidden" name="action" value="update_credit">
          <div class="form-group">
            <label for="credit_card">credit_card:</label>
            <input type="text" class="form-control" id="credit_card" name="credit_card" placeholder="Enter credit_card Name">
          </div>
          <div class="form-group">
            <label for="credited_amount">Credited Amount:</label>
            <input type="text" class="form-control" id="credited_amount" name="credited_amount" placeholder="Enter credited amount" inputmode="numeric" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Please enter a valid number')" onchange="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label for="due_amount">Due Amount:</label>
            <input type="text" class="form-control" id="due_amount" name="due_amount" placeholder="Enter due amount" inputmode="numeric" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Please enter a valid number')" onchange="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label for="paid_amount"> Paid Amount:</label>
            <input type="text" class="form-control" id="paid_amount" name="paid_amount" placeholder="Enter paid amount" inputmode="numeric" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Please enter a valid number')" onchange="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="month" class="form-control" id="month" name="month" placeholder="Select date" min="2023-01-01" max="2025-12-31" required>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div> 
  </section>
  <!-- <script></script> -->
</body>
<script>
	let sidebar = document.querySelector(".sidebar");
	let sidebarBtn = document.querySelector(".sidebarBtn");
	sidebarBtn.onclick = function() {
	sidebar.classList.toggle("active");
	if (sidebar.classList.contains("active")) {
		sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
	} else {
		sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
	}
	}
</script>
</html>
